/* Basic Style */
.body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}
.body__wrapper {
  margin: 0 auto;
  width: 500px;
}
.h1-hidden {
  visibility: hidden;
  height: 0;
  margin: 0;
}

/* Matrix block */
.matrix {
  text-align: right;
}
.matrix__img {
  width: 100%;
}
.matrix__info {
  font-family: fantasy, cursive;
}
@media (max-width:768px) {
  .matrix {
    text-align: center;
  }
}

/* Heading */
.section-heading {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  text-transform: uppercase;
}
.section__heading {
  padding: 30px 0 10px;
  margin: 0;
}

/* New task block */
.section__row-wrap {
  display: flex;
  margin: 20px 0 16px 0;
}
.new-task {
  display: flex;
  flex-grow: 1;
}

/* Main app section */
.section__task-list {
  margin: 0;
  padding: 0px;
}

/* Element styles */
.new-task__input,
.list-el__input {
  flex-grow: 1;
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}
.list-el {
  list-style: none;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.task-list__list-el {
  padding: 20px 0;
  vertical-align: middle;
}
.list-el__label {
  flex-grow: 1;
  font-size: 18px;
  margin-left: 10px;
}
.list-el__checkbox {
  margin: 0 10px 0 10px;
}
.list-el__input {
  flex-grow: 1;
}
.list-el__input_hidden,
.list-el__label_hidden {
  display: none;
}
.section__add-btn,
.list-el__del-btn,
.list-el__save-btn {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
  outline: none;
}
.list-el__del-btn,
.list-el__save-btn {
  height: 32px;
}
.list-el__del-img {
  height: 2em;
  transition: transform 0.2s ease-in;
}
.list-el__del-img_rotated {
  transform: rotateZ(45deg);
}
.section__add-btn:hover,
.list-el__del-btn:hover,
.list-el__save-btn:hover {
  color: #3a3A3a;
}
.list-el__del-img:hover {
  transform: rotateZ(0);
}
.list-el_lined-through {
  text-decoration: line-through;
  color: #888;
}